@import '../utils/variables.scss';

footer {
    background-color: $poke-dark;
    width: 100vw;
    &>.footer-img {
        max-width: 100vw;
        height: auto;
    
    }
    &> h4 {
        color: $poke-light;
        margin: 0px;
        text-decoration: none;
        padding: 20px 10px;
        &>a {
            color: $poke-light;
            text-decoration: none;
        }
    }
} 

